html,body{
	margin:0;
	padding: 0;
}
.main{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #111;
}
#clock{
	width: 100%;
	position: absolute;
	font-size: 60px;
	color: white;
	font-family: 'Roboto-Medium',sans-serif;
	top:100px;
	text-align: center;
	animation: teks 5s ease;
}
h1{
	width: 100%;
	position: absolute;
	font-size: 65px;
	color: white;
	font-family: 'Bad Script',sans-serif;
	top:200px;
	text-align: center;
	letter-spacing: 5px;
	animation: teks 5s ease;
}
h6{
	width: 100%;
	position: absolute;
	font-size: 20px;
	color: white;
	font-family: 'Bad Script',sans-serif;
	top:400px;
	text-align: center;	
	animation: teks 5s ease;
}

@keyframes teks{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

/*Making Box Design and Animation*/
.box{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255,255,255,0.1);
	animation: animate 20s linear infinite;
	bottom: -150px;

}

.box li:nth-child(1){
	left: 80%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box li:nth-child(2){
	left: 10%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box li:nth-child(3){
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box li:nth-child(4){
	left: 30%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box li:nth-child(5){
	left: 50%;
	width: 40px;
	height: 40px;
	animation-delay: 15s;
}
.box li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}



@keyframes animate{
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100%{
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}